Android/android-hc05-bluetooth-freescale-read-only/testBluetoothFreescale
Android/android-hc05-bluetooth-freescale-read-only/AndroidHC05Bluetooth/bin
Android/android-hc05-bluetooth-freescale-read-only/AndroidHC05Bluetooth/gen
.svn
*.svn
*.apk
*.*~
